:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
}

h1 {
  font-size: 96px;
}
h2 {
  font-size: 64px;
}
h4 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 100px 20px;
}

.hero p {
  font-family: Poppins;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.4;
}
.about-section {
  padding: 160px 20px;
}
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section h2 {
  font-size: 18px;
  line-height: 27px;
  font-family: var(--default-font-family);
}
.about-section-content {
  margin: 30px;
}
.btn-primary {
  background: var(--branding-color);
  border-radius: 4px;
  padding: 18px 30px 18px 30px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 27px;
}
.project-description {
  padding: 120px 60px;
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}
footer .e-mail-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
footer .e-mail-link:hover {
  color: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 60px;
    line-height: 1.5;
  }
  h2 {
    font-size: 44px;
  }
  h4 {
    font-size: 18px;
  }
  .hero {
    padding: 80px 20px;
  }
  .about-section {
    text-align: center;
    padding: 0px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  footer .contact-box {
    padding: 30px;
  }
}
